
*{
    margin: 0;
    padding: 0;
    background: border-box;
    
}
body{
    background: black;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: url("https://c.static-nike.com/a/images/w_1920,c_limit/bzl2wmsfh7kgdkufrrjq/image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10000;
}


header h3{
    position: absolute;
    top: 23px;
   left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c7ecee;
    font-size: 35px;
    letter-spacing: 4px;
    font-family: 'Satisfy', cursive;
}
.navigation{
    
    position: absolute;
    top: 30px;
    left: 50%;
}
.navigation ul{
    display: flex;
}
.navigation ul li{
   list-style: none;
}  
.navigation ul li a{
    font-size: 25px;
    margin-left: 35px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}
.label{
    position: absolute;
    top: 45%;
    left: 30%;
    color: #616161;
}
.label h1{
    font-size: 6em;
    text-transform: uppercase;
    letter-spacing: 3px;
}  
.label h3{
    font-size: 2em;
    text-align: center;
    color: white;
    font-weight: 300;
} 
.sci{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 3%;
}
.sci ul li{
    list-style: none;
}
.sci ul li a{
    margin-left: 20px;
    transform: scale();
    filter: invert();
}
.video{
    position: absolute;
    bottom: 5%;
    left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.video span{
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    margin-left: 5px;
}

.nikeVd{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.nikeVd.active{
    opacity: 1;
    visibility: visible;
}
video{
    width: 900px;
    outline: none;
    height: 500px;
}

.nikeVd  img{
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}

/* ----------About---------- */
.upper{
    width: 100%;
    height: 80px;
    background: black;
   
}
.About{
    background: black;
}
.CEO{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.CEO1{
    width: 32%;
    min-height: 87vh;
}
.CEO1 img{
    width: 100%;
    min-height: 87vh;
}
.CEO .caption{
    width: 36%;
    min-height: 87vh;
    background: url("https://i.pinimg.com/474x/ab/c1/f4/abc1f4e2a6fda65a7ef4e1d4bd6d0c0a.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.CEO .CEO2{
    width: 32%;
    min-height: 87vh;
}
.CEO .CEO2 img{
    width: 100%;
    min-height: 87vh;
}

.caption p{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 400px;
    color: #dfe6e9;
    font-size: 20px;
}
.caption span{
    color:#0984e3;
    font-weight: 500;
    font-size: 23px;
}
/* ----------Product---------- */
.product{
    width: 100%;
    min-height: 130vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.images{
    position: absolute;
    top: 20%;
    left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.images .img1{
    margin-left: 70px;
    margin-bottom: 70px;

}
.images .img1 img{
    width: 200px;
    height: 300px;
    
}
.img1 p{
    font-size: 20px;
    color: #E64A19;
    
    font-weight: 500;
}
.img1 span{
    font-size: 20px;
    color: #B0BEC5;
    text-align: center;
}
.img1 i{
    color:#fdcb6e;
}
/* ----------Service---------- */
.q{
    position: absolute;
    left: 30%;
    top: 15%    ;
}
.q h2{
   color: white;
   font-size: 35px; 
   letter-spacing: 2px;
   font-weight: 200;
   text-transform: uppercase;
   margin-bottom: 10px;
   text-align: center;
}
.q1 i{
    position: absolute;
    left: 1%;
    top: 60px;
}

.q1 input[type="text"]{
    position: relative;
    width: 500px;
    height: 40px;
    padding-left: 40px;
    color: white;
    font-size: 20px;
}
.q1 p{
    color: grey;
    margin-left: 20px;
}
.q1 i{
    color: white;
    margin-left: 10px;
}
.service{
    width: 90%;
    height: 400px;
    border: 1px solid grey;
    position: absolute;
    top: 33%;
    left: 5%;
    
}
.header{
    width: 95%;
    height: 60px;
    padding: 20px;
    border-bottom:1px solid grey;
}
.header h1{
    color: gainsboro;
    margin-bottom: 4px;
}
.header p{
    color: #F44336;
}
.body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}
.body .part1{
    margin-bottom: 19px;
}
.part1 h3{
    color: #d63031 ;
    margin-bottom: 6px;
}
.part1 p{
    color: #BDBDBD;
    cursor: pointer;
}
/* ---------Contact---------- */
.header1{
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
}
.header1 h2{
    font-size: 30px;
    color: #0984e3;
}
.header1 p{
    font-size: 17px;
}
.nav{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top: 40%;
    left: 5%;
    
}
.nav i{
    font-size:5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.nav .d1{
    width: 100%;
    margin-bottom: 20px;
    margin-right:60px;
    color: white;
}
.nav .d1 h3{
    color: #e17055;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 23px;
}
.nav .d1 p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 17px;
}
.outline a{
    border-bottom: 2px solid white;
}
@media(max-width:900px){
    header h3 {
        position: absolute;
        top: 23px;
        left: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #c7ecee;
        font-size: 35px;
        letter-spacing: 2px;
        font-family: 'Satisfy', cursive;
        margin-bottom: 10px;
    }
    .navigation ul li a {
        font-size:20px;
        margin-left: 7px;
        text-decoration: none;
        color: white;
        letter-spacing: 1px;
    }
    .navigation {
        position: absolute;
        top: 70px;
        left: 4%;
    }
    .label {
        position: absolute;
        top: 33%;
        left:17%;
        color: #fff;
    }
    .label h1 {
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .label h3 {
        font-size: 27px;
        text-align: center;
        color: #616161;
        font-weight: 300;
    }
    .sci ul li a {
        margin-left: 15px;
        transform: scale();
        filter: none;
    }
    video {
        width: 90%;
        outline: none;
        height: 500px;
    }
   
    .CEO {
        display:flex;
        flex-direction: column;
        
        align-items: center;
        width: 100%;
        position: absolute;
        top: 120px;
       
    }
    .CEO img{
        width: 100%;
        
    }
    .CEO1 {
        width: 100%;
    }.CEO .caption {
        width: 100%;
        
    }
    .caption p {
        position: absolute;
        top: 5%;
        left: 0%;
        width: 100%;
        color: #dfe6e9;
        font-size: 23px;
        
    }
    .CEO .CEO2 {
        width: 100%;
      
    }
    .images {
        position: absolute;
        top: 20%;
        left: 0%;
        display: flex;
       
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .q {
        position: absolute;
        left: 0%;
        top: 15%;
        width: 100%;
    }
    .q1 input[type="text"] {
        position: relative;
        width: 300px;
        height: 40px;
        padding-left: 40px;
        color: white;
        font-size: 20px;
    }
    .body {
        display: block;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
    }
    .service {
        width: 90%;
        height:  1070px;
        border: 1px solid grey;
        position: absolute;
        top: 28%;
        left: 5%;
        
    }
    .header {
        width: 88%;
        height: 120px;
        padding: 20px;
        border-bottom: 1px solid grey;
    }
    .header1 {
        position: absolute;
        width: 90%;
        top: 20%;
        left: 5%;
        color: white;
    }
    .header1 h2 {
        font-size: 30px;
        color: #0984e3;
        text-align: center;
    }
    .header1 p {
        font-size: 20px;
    }
    .nav {
        display: flex;
        
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 40%;
        left: 0%;
    }
    .nav .d1 p {
        text-align: center;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .nav .d1 h3 {
        font-size: 26px;
    }
    .header p {
        color: #F44336;
        font-size: 18px;
    }
    .part1 p {
        font-size: 18px;
    }
}



